.hero-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-images img {
    width: 8em;
    height: 8em;
    margin: 2em;
    border-radius: 2em;
    cursor: pointer;
    background-color:#E0DED9;
}

#inn {
    border: solid 5px #948B89;
}

#dagger {
    border: solid 5px #D199B6;
}

#bag {
    border: solid 5px #816E94;
}
#hero-info, #enemy-info {
    margin-left: 15%;
    font-size: 1.2em;
}
#hero-info {
    float: left;
}
#enemy-info {
    min-height: 8em;
    padding-left: 50%;
}
.button {
    cursor: pointer;
    background-color: #4CAF50;
}

#fight-result {
    text-align: center;
    font-size: 2em;
}
#fight-result p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.fight {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fight img {
    width: 25em;
    height: 25em;
}
.fight-button {
    padding: 15px 40px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #4CAF50;
    display: inline-block;
    margin: 0em 5em;
}
.arrow {
    margin: 0em 2em;
}
#hero-fight, #enemy-fight{
    border-radius: 2em;
}