.hero-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-images img {
    width: 10em;
    height: 10em;
    margin: 2em;
    border-radius: 2em;
    cursor: pointer;
    background-color:#E0DED9;
}

#inn {
    border: solid 5px #948B89;
}

#dagger {
    border: solid 5px #D199B6;
}

#bag {
    border: solid 5px #816E94;
}
#hero-info, #enemy-info {
    margin-left: 15%;
    font-size: 1.5em;
}
#hero-info {
    float: left;
}
#enemy-info {
    min-height: 8em;
    padding-left: 50%;
}

.fight {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fight img {
    width: 30em;
    height: 30em;
}
.fight-button {
    padding: 15px 40px;
    cursor: pointer;
}